/*********** added by Seyed Mahdi Mirzaei ******************/
/***** Menu Page *************/
.smm_body{
	background-image: url('../images/low/menu_back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.smm_body .bg{
	background-image: url('../images/low/menu_back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	
	height:100%;
	width:100%;
	position:absolute;	
	z-index:0;
}
.smm_content{
	width: 80%;
	height: 80%;
	position: fixed;
	text-align: center;
	padding: 10%;
}
.smm_title {
    width: 90%;
    height: 15vw;
    background-image: url('../images/low/title.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}
.smm_menu {
    background-color: rgba(0,106,155,.44);
    border-radius: 10vw;
    top: 32vw;
    bottom: 5%;
    position: inherit;
    left: 10%;
    right: 10%;
}
.smm_menu:before{
	content: "";
    background-image: url("../images/low/menu-background-top.png");
    width: 28vw;
    height: 5vw;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
    top: -5vw;
    position: absolute;
}
.smm_menu:after{
	    content: "";
    background-image: url("../images/low/menu-background-saye.png");
    /* width: 28vw; */
    height: 18vw;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
    bottom: -5vw;
    position: absolute;
}
.smm_menu ul{
	background-image: url("../images/low/menu.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
	
	transition:top 1s ease-in-out 0s !important;
}

.smm_menu ul li{
	height: 13.5vw;
    list-style-type: none;
	transition:all 0.55s ease-in-out 0s;
}
.smm_menu ul li:hover{
	background-color: rgba(40,101,143,.35);
}
.smm_menu > div{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1vw;
    overflow: auto;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    border-radius: 10vw;
}
/***** Ziarat Page *************/
.smm_ziarat_body{
	background-image: url('../images/low/ziarat_back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.smm_ziarat_body .bg{
	background-image: url('../images/low/ziarat_back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	
	height:100%;
	width:100%;
	position:absolute;	
	z-index:0;
}
.smm_ziarat_title {
    width: 90%;
    height: 14vw;
    background-image: url('../images/low/ziarat_title.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    vertical-align: middle;
}
.smm_ziarat_back{
	background-image: url('../images/low/back.png');
    width: 6vw;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: contain;
    float: left;
    vertical-align: -webkit-baseline-middle;
    margin-left: -5vw;
}
#smm_ziarat_wrapper{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1vw;
    overflow: auto;
    text-align: right;
/*     -webkit-mask-image: -webkit-radial-gradient(circle, white, black); */
/*     border-radius: 10vw; */
}
.smm_ziarat_content{
	top: 32vw;
    bottom: 5%;
    position: inherit;
    left: 10%;
    right: 10%;
}
.smm_ziarat_title2{
    width: 30vw;
}
#smm_ziarat_wrapper input,#smm_ziarat_wrapper select{
	display: block;
    height: 12vw;
    width: 99%;
    border: 1px solid #69cee3;
    border-radius: 2vw;
    background-color: #e5f4fa;
    margin-top: 4vw;
    font-family: 'Droid Arabic Kufi' !important;
    padding-right: 5vw;
    box-sizing: border-box;
    color: #2581c4;
    font-size: 3.5vw;
}
#smm_ziarat_wrapper select{
	text-align-last: right;
    direction: ltr;
}
#smm_ziarat_wrapper input[type="submit"]{
	background-color: #e39124;
	color: white;
	border: none;
	margin-top: 6vw;
}
.smm_ziarat_body ::-webkit-input-placeholder {
   color: #2581c4;
}

.smm_ziarat_body :-moz-placeholder { /* Firefox 18- */
   color: #2581c4;  
}

.smm_ziarat_body ::-moz-placeholder {  /* Firefox 19+ */
   color: #2581c4;  
}

.smm_ziarat_body :-ms-input-placeholder {  
   color: #2581c4;  
}
/***** Salat Page *************/
#smm_salat_wrapper{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1vw;
    overflow: auto;
    text-align: right;
/*     -webkit-mask-image: -webkit-radial-gradient(circle, white, black); */
/*     border-radius: 10vw; */
}
.smm_salat_title {
    width: 90%;
    height: 14vw;
    background-image: url('../images/low/salat_title.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    vertical-align: middle;
}
.smm_select_city div:nth-child(2) {
    border-left: .5vw solid #167bb0;
    border-right: .5vw solid #167bb0;
}
.smm_select_city {
    width: 90%;
    height: 11vw;
    margin: auto;
    vertical-align: middle;
    margin-top: 3vw;
    background-image: url('../images/low/salat-title2.png');
    background-size: 100% 104%;
    background-repeat: no-repeat;
    background-position: 0 -.2vw;
}
.smm_select_city div {
    display: inline-block;
    width: 31%;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    height: 100%;
    line-height: 10.5vw;
    box-sizing: border-box;
    color: #167bb0;
}
.smm_select_city div.active{
	color: #e39124;
}
.smm_salat_content{
	top: 42vw;
    bottom: 5%;
    position: inherit;
    left: 10%;
    right: 10%;
}
.smm_sobh {
    background-image: url('../images/low/sobh.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.smm_sunrise {
    background-image: url('../images/low/sunrise.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.smm_zohr {
    background-image: url('../images/low/zohr.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.smm_maghreb {
    background-image: url('../images/low/maghreb.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.smm_ghorob {
    background-image: url('../images/low/ghorob.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.smm_midnight {
    background-image: url('../images/low/midnight.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: top center;
}
li .smm_sobh {
    background-image: url('../images/low/sobh2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 57% !important;
}
li .smm_sunrise {
    background-image: url('../images/low/ghorob2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
li .smm_zohr {
    background-image: url('../images/low/zohr2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 25% !important;
}
li .smm_maghreb {
    background-image: url('../images/low/maghreb2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 35% !important;
}
li .smm_ghorob {
    background-image: url('../images/low/ghorob2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
li .smm_midnight {
    background-image: url('../images/low/midnight2.png');
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center 50% !important;
}
.smm_next_time {
    margin: auto;
    text-align: center;
}
.smm_next_time > div{
	width: 100%;
    display: block;
    height: 20vw;
    text-align: center;
}
.smm_next_time span:last-child {
    color: #e39124;
}
.smm_next_time span {
    width: 100%;
    display: block;
    font-size: 5vw;
    font-weight: bold;
    white-space: nowrap;
}
.smm_salat_content ul {
    list-style-type: none;
}
.smm_salat_content ul li {
    display: block;
    width: 100%;
    height: 15vw;
    vertical-align: middle;
}
.smm_salat_content ul li span:first-child {
    width: 8vw;
    height: 100%;
    display: block;
    background-position: center center;
    margin-left: 2vw;
}
.smm_salat_content ul li span {
    color: #167bb0;
    font-size: 4.2vw;
    font-weight: bold;
    float: right;
    height: 100%;
    display: table-cell;
    line-height: 18vw;
}

.smm_salat_content ul li span:last-child {
    float: left;
}
.smm_salat_content ul li:after {
    background-image: url('../images/low/seprator.png');
    content: "";
    height: 1px;
    width: 90%;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1.5vw;
    position: absolute;
}
.smm_salat_content ul li:first-child:after{
	content: none;
}
/**********************************************************/