/*********** added by Seyed Mahdi Mirzaei ******************/

.smm_body{
	background-image: url('../images/low/menu_back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.bg{
	background-image: url('../images/low/menu_back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	
	height:100%;
	width:100%;
	position:absolute;	
	z-index:0;
}
.smm_content{
	width: 80%;
	height: 80%;
	position: fixed;
	text-align: center;
	padding: 10%;
}
.smm_title {
    width: 90%;
    height: 15vw;
    background-image: url('../images/low/title.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}
.smm_menu {
    background-color: rgba(0,106,155,.44);
    border-radius: 10vw;
    top: 32vw;
    bottom: 5%;
    position: inherit;
    left: 10%;
    right: 10%;
}
.smm_menu:before{
	content: "";
    background-image: url("../images/low/menu-background-top.png");
    width: 28vw;
    height: 5vw;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
    top: -5vw;
    position: absolute;
}
.smm_menu:after{
	    content: "";
    background-image: url("../images/low/menu-background-saye.png");
    /* width: 28vw; */
    height: 18vw;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
    bottom: -5vw;
    position: absolute;
}
.smm_menu ul{
	background-image: url("../images/low/menu.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
	
	transition:top 1s ease-in-out 0s !important;
}

.smm_menu ul li{
	height: 13.5vw;
    list-style-type: none;
	transition:all 0.55s ease-in-out 0s;
}
.smm_menu ul li:hover{
	background-color: rgba(40,101,143,.35);
}
.smm_menu > div{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1vw;
    overflow: auto;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    border-radius: 10vw;
}
/**********************************************************/